#use nix
use flake

#export $LALA="hehe"
#./scripts/setup.sh

#direnv hook post_load echo "===> Haskell development environment loaded! <==="
echo "===> Haskell development environment loaded! <=== .envrc"
